.item {
    padding: 3 rem;
    border: #ccc 1px solid;
    font-size: 1.3 rem;
    font-weight: bold;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 200px auto 200px;
    grid-gap: 1 rem;
}


/* container */
main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1.5rem;
}

.fifthgrid:first-child {
    grid-column: 1 / span 3;
    grid-row: 1 / span 2
}

.fifthgrid:nth-child(9) {
    grid-column: 2 / span 3;
    grid-row: 2 / span 2
}